.list-teachers .slick-track {
  display: flex;
  justify-content: space-between;
}

.list-teachers .slick-slide {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  // min-width: 260px;
  max-width: 260px;
  min-height: 294px;

  background-color: gray;
  background-size: cover;

  &:hover {
    flex-direction: column;
    cursor: pointer;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(16, 38, 84, 0.89);
    }

    .list-teachers__item-hover {
      display: flex;
      z-index: 1;
    }

    .list-teachers__item-title {
      margin-top: 55px;
      margin-bottom: 0;
      z-index: 1;
    }
  }
}

.list-teachers__item-title {
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.list-teachers__item--one {
  background-image: url("../img/foto-trainer-one.png");
  background-repeat: no-repeat;
}

.list-teachers__item--two {
  background-image: url("../img/foto-trainer-two.png");
  background-repeat: no-repeat;
}


.list-teachers__item--three {
  background-image: url("../img/foto-trainer-three.png");
  background-repeat: no-repeat;
}


.list-teachers__item--four {
  background-image: url("../img/foto-trainer-four.png");
  background-repeat: no-repeat;
}

.list-teachers__item-hover {
  display: none;
  flex-direction: column;
}

.list-teachers__item-firm {
  margin: 0 auto;

  font-size: 16px;
  color: #b6bdcc;
}

.list-teachers__item-list {
  padding: 0;
  margin: 0 auto;
  margin-top: 23px;

  list-style: none;
}

.list-teachers__item-list li {
  position: relative;

  width: 166px;
  padding-left: 23px;
  margin-top: 13px;

  font-size: 14px;
  color: #ffffff;

  &:after {
    content: "";

    position: absolute;
    top: 7px;
    left: 8px;

    width: 6px;
    height: 6px;

    background-color: #ffffff;

    border-radius: 5px;
  }
}

.list-teachers .slick-arrow {
  position: absolute;
  top: 288px;

  padding: 0;
  width: 18px;
  height: 34px;

  font-size: 0;

  background-color: transparent;
  border: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.list-teachers .slick-prev {
  left: -28px;

  background-image: url("../img/arrow-left.svg");

  @media (max-width: 1290px) {
    left: 0;
  }
}

.list-teachers .slick-next {
  right: -28px;

  background-image: url("../img/arrow-right.svg");

  @media (max-width: 1290px) {
    right: 0;
  }
}

@media (max-width: $tablet-width-max) {
  .list-teachers .slick-slide {
    min-width: 268px;
    max-width: 268px;
  }

  .list-teachers .slick-arrow {
    top: 247px;
  }

  .list-teachers .slick-prev {
    left: 41px;
  }

  .list-teachers .slick-next {
    right: 41px;
  }
}

@media (max-width: $mobile-width-only) {
  .list-teachers .slick-slide {
    min-width: 226px;
    max-width: 226px;
    min-height: 274px;

    &:hover {
      .list-teachers__item-title {
        margin-top: 46px;
      }

      .list-teachers__item-info {
        padding-left: 20px;

        &:after {
          left: 4px;
        }
      }
    }
  }

  .list-teachers .slick-arrow {
    top: 207px;

    width: 10px;
    height: 19px;

    background-size: 10px 19px;
  }

  .list-teachers .slick-prev {
    left: 15px;
  }

  .list-teachers .slick-next {
    right: 15px;
  }
}
