.list-tick-time {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  padding: 0;

  list-style: none;
}

.list-tick-time__item {
  font-size: 20px;
  color: rgba(16, 38, 84, 0.5);

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.list-tick-time__item--active {
  color: #102654;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: $tablet-width-max) {
  .list-tick-time {
    margin-top: 33px;
  }

  .list-tick-time__item {
    font-size: 18px;
  }
}

@media (max-width: $mobile-width-only) {
  .list-tick-time {
    margin-top: 23px;
  }

  .list-tick-time__item {
    font-size: 16px;
  }
}
