.menu-site {
  display: flex;
  margin: 0;
  margin-left: 20.5%;
  padding: 0;
  padding-top: 3px;

  list-style: none;
}

.menu-site li {
  margin-left: 40px;
}

.menu-site__item a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  &:hover {
    opacity: 0.5;
  }
}

.menu-site__item--logo {
  display:  none;
}

@media (max-width: $tablet-width-max) {
  .menu-site {
    margin-left: 5%;
    padding-top: 7px;
  }

  .menu-site li {
    margin-left: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .menu-site {
    display: block;
    margin: 0;
    column-count: 2;
    column-gap: 32px;
    column-fill: auto;
  }

  .menu-site__item--logo {
    display: block;
  }

  .menu-site li {
    margin-left: 0;
    margin-top: 19px;
  }

  .menu-site .menu-site__item--logo {
    margin-top: 2px;
  }
}
