.page-header {
  flex: 1 0 auto;

  background-color: red;
  background-image: url("../img/bg-header-big.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: $tablet-width-max) {
  .page-header {
    background-image: url("../img/bg-header-medium.png");
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    background-image: url("../img/bg-header-min.png");
  }
}
