.trainers {
  margin-top: 54px;
  min-height: 600px;
}

.trainers__container {
  position: relative;

  width: 100%;
  min-width: 1024px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 57px 31px 0;
}

.trainers__title {
  margin: 0;
  margin-bottom: 54px;

  font-family: "BebasNeue", cursive;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

@media (max-width: $tablet-width-max) {
  .trainers {
    margin-top: 60px;
    min-height: 510px;
  }

  .trainers .slick-slider {
    max-width: 566px;
    min-width: 566px;
    margin: 0 auto;
  }

  .trainers__container {
    min-width: $mobile-width;
    max-width: 760px;
    padding: 35px 31px 0;
  }

  .trainers__title {
    margin-bottom: 40px;
    text-align: center;

    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: $mobile-width-only) {
  .trainers {
    min-height: 422px;
  }

  .trainers .slick-slider {
    max-width: 226px;
    min-width: 226px;
    margin: 0 auto;
  }

  .trainers__container {
    min-width: $mobile-width;
    max-width: 320px;
    padding: 2px 31px 0;
  }

  .trainers__title {
    margin-bottom: 44px;

    font-size: 32px;
    line-height: 32px;
  }
}
